
@{
    ViewBag.Title = "Messaging";
}

<h2>Messaging</h2>

<p>
    Messaging allows you to easily stay in touch with and update your clientele. These features can be used to perform such actions
    as sending mass messages to all of a given group of clientele (e.g. all tenants in a given complex) i.e. announcements, or contacting
    an individual (or individual household). The messaging features can be applied to any scenario where you would like to disseminate
    information of one kind or another in a quick and simple way.
</p>

<p>
    **DEMOS IN PROGRESS**
</p>