
@{
    ViewBag.Title = "Staff Actions";
}

<h2>Staff Actions</h2>

<ul>
    <li>@Html.ActionLink("View Tenants", "ViewTenants", "Staff")</li>
    <li>@Html.ActionLink("View Units", "ViewUnits", "Staff")</li>
</ul>