
@{
    ViewBag.Title = "Maintenance Scheduling";
}

<h2>@ViewBag.Title</h2>

<p>
    This feature allows tenants to coordinate available dates and times for various types of maintenance requests. It frees up staff
    who would normally coordinate this scheduling manually, and offers a scheduling approach with far more streamlined logistic support
    than manual scheduling.
</p>

<p>
    **DEMO IN PROGRESS**
</p>