@{
    ViewBag.Title = "About";
}
<h2>About REMS</h2>


<h3>What is REMS</h3>

<p>REMS (Real Estate Management System) was conceived as an idea by Chris Volkernick in response to his 
    frustrations with past landlords, property management companies, and general experience as a renter. 
    There are many client-facing issues that arise from the fundamental problem of these individuals and 
    management companies having excessive numbers of properties, and insufficient time, staff, and resources
    required to provide an above-averge let alone acceptable level of personal attention to each resident.
    As a result, many of these tenants are left feeling unappreciated, underserved, and generally discontent
    with the service they receive.
</p>
<p>
    REMS was thought up to address these problems. By minimizing the amount of engagement required by
    staff to provide basic services such as rent payment, maintenance scheduling, FAQs, mass messaging
    and notifications, reminders, and unit tours, the staff are freed up to give more personal attention
    to more in-depth and "ad-hoc" problems and concerns their tennants may have. With more time to give
    clients the personal attention they deserve, customer satisfication and quality of service are vastly improved.
</p>
<p>
    In the following sections, we break down each service the system provides and what benefit it serves to
    provide both the staff and their clientele.
</p>

<h3>Rent Payment</h3>

<p>With rent payment processing, there are benefits to both the staff and their clientele. Consider the following:</p>

<ul>
    <li>Staff</li>
</ul>

<p>
    Taking payment for rent (amongst other things) seems like a straightforward and simple task at face value.
    You essentially are just collecting payment. What could be easier than accepting money? But consider all of the
    "overhead" involved in payment - documenting payment(s), providing invoices / receipts, tracking who is on time or late,
    or otherwise owes additional fees, depositing payments (especially payments in cash, check, or money orders). That's just
    for a single tenant. Imagine doing this for hundreds if not thousands of tenants each month. Simply taking
    payments can entirely suck up the staff's time in and of itself.
</p>

<ul>
    <li>Clients (Tenants)</li>
</ul>

<p>
    It may seem trivial, but just the fact that tenants physically have to go into an office to pay their rent (or anything else)
    introduces problems for both themselves and the property ownership / management. First, they have to remember to
    make their payments to begin with. Assuming they remember, they still have to - in most cases - physically travel to a bank
    or otherwise for cash, checks, or money orders. Then they have to make the trip to the leasing office, which usually has hours
    of operation that don't always line up with their schedule. Just this by itself provides a hassle for the client, and
    opens the door for procrastination, scheduling conflicts, and any other excuse you can think of to not make payments on time.
</p>

<p>
    With electronic payments, both parties' problems are addressed. Staff spends less time on the beurocracy, and the process becomes
    more user-friendly and convenient for the client. Staff duties are fully or partially automated, and because of the added convenience,
    tenants become that much more likely to make payments on-time and in full. Owners can even get creative by offering incentives
    (e.g. reduced rent, fees, etc.) for making early or on time payments, or for processing their payments digitally.
</p>

<h3>Maintenance Scheduling</h3>

<p></p>

<h3>FAQs / Documentation</h3>

<p></p>

<h3>Mass Messaging</h3>

<p></p>

<h3>Notifications / Reminders</h3>

<p></p>

<h3>Unit Tours</h3>

<p></p>