@{
    ViewBag.Title = "About";
}
<h2>About REMS</h2>


<h3>What is REMS</h3>

<p>REMS (Real Estate Management Suite) was conceived as an idea by Chris Volkernick in response to his 
    frustrations with past landlords, property management companies, and general experience as a renter. 
    There are many client-facing issues that arise from the fundamental problem of these individuals and 
    management companies having excessive numbers of properties, and insufficient time, staff, and resources
    required to provide an above-averge let alone acceptable level of personal attention to each resident.
    As a result, many of these tenants are left feeling unappreciated, underserved, and generally discontent
    with the service they receive.
</p>
<p>
    REMS was thought up to address these problems. By minimizing the amount of engagement required by
    staff to provide basic services such as rent payment, maintenance scheduling, FAQs, mass messaging
    and notifications, reminders, and unit tours, the staff are freed up to give more personal attention
    to more in-depth and "ad-hoc" problems and concerns their tennants may have. With more time to give
    clients the personal attention they deserve, customer satisfication and quality of service are vastly improved.
</p>
<p>
    In the following sections, we break down each service the system provides and what benefit it serves to
    provide both the staff and their clientele.
</p>

<h3>Rent Payment</h3>

<p>With rent payment processing, there are benefits to both the staff and their clientele. Consider the following:</p>

<ul>
    <li>Staff</li>
</ul>

<p>
    Taking payment for rent (amongst other things) seems like a straightforward and simple task at face value.
    You essentially are just collecting payment. What could be easier than accepting money? But consider all of the
    "overhead" involved in payment - documenting payment(s), providing invoices / receipts, tracking who is on time or late,
    or otherwise owes additional fees, depositing payments (especially payments in cash, check, or money orders). That's just
    for a single tenant. Imagine doing this for hundreds if not thousands of tenants each month. Simply taking
    payments can entirely suck up the staff's time in and of itself.
</p>

<ul>
    <li>Clients (Tenants)</li>
</ul>

<p>
    It may seem trivial, but just the fact that tenants physically have to go into an office to pay their rent (or anything else)
    introduces problems for both themselves and the property ownership / management. First, they have to remember to
    make their payments to begin with. Assuming they remember, they still have to - in most cases - physically travel to a bank
    or otherwise for cash, checks, or money orders. Then they have to make the trip to the leasing office, which usually has hours
    of operation that don't always line up with their schedule. Just this by itself provides a hassle for the client, and
    opens the door for procrastination, scheduling conflicts, and any other excuse you can think of to not make payments on time.
</p>

<p>
    With electronic payments, both parties' problems are addressed. Staff spends less time on the beurocracy, and the process becomes
    more user-friendly and convenient for the client. Staff duties are fully or partially automated, and because of the added convenience,
    tenants become that much more likely to make payments on-time and in full. Owners can even get creative by offering incentives
    (e.g. reduced rent, fees, etc.) for making early or on time payments, or for processing their payments digitally.
</p>

<h3>Maintenance Scheduling</h3>

<p>
    Scheduling maintenance is yet another responsibilty staff are tasked with that can be automated to be more accessible, intuitive, and
    hassle-free. The typical approach to maintenance schedule involves a series of logistics arrangements and go-between for both the
    staff and tenant. First, the tenant must reach out to a staff member to report the necessary maintenance. Depending on what kind of
    work is involved, the staff must then coordinate with their help (e.g. plumbers, electricians, groundskeepers, etc.) to accomodate the
    service. There are some circumstancial factors involved that might typically say otherwise (most maintenance does not require the tenant
    to be present), but this could potentially require some maneuvering to find a time or times when both the tenant and technician(s) are
    available. If you delegate this coordination to a scheduling system, and categorically define the schedules and availabity of each "type"
    of help, the user (tenant) can take care of all of this on their own, with only the possibility of minor oversight (i.e. approvals, etc.)
    from staff. All of this comes with the ease of access of one simple, streamlined web interface that eliminates the stress of setting and
    following up on service needs for both staff and tenant.
</p>

<h3>FAQs / Documentation</h3>

<p>
    A good portion of staff's time can be used answering common questions that both perspective and current tenants may have. A good way to address
    this is to create and maintain a "FAQ" area. This seems simple enough, but it can save lots of time answering the same questions over and over.
    If you expand upon this idea, you can see how it would be useful to have other easily-accessible documents available in a digital format. Examples
    include leasing agreements, maintenance records, invoices and receipts (for rent payments and otherwise). Often these documents are in physical form
    and realistically either lost entirely or hard to find. Putting them all in one place creates a clean, easy to access and use repository of all
    records pertaining to any given client.
</p>

<h3>Mass Messaging</h3>

<p>
    When you need to make a community-wide announcement, the preferred method would appear to be physical documents distributed to each tenant.
    While this can be yet another seemingly trivial task, consider that when you magnify it times hundreds or thousands of units, not only does it
    require a fair amount of time and resources to distribute the notices, but you're also spending additional money on the supplies (paper, ink, etc.)
    to create them in the first place. Minimizing this with mass digital messaging reduces financial burden and, again, additional staff time and effort.
    This can take various forms - whether it be SMS messaging, email, etc. - but is yet one more convenience factor provided to the client and one less
    task for staff to be responsible for.
</p>

<h3>Notifications / Reminders</h3>

<p>
    Similar in concept to mass messaging, notifications and reminders take mass messaging ideas to an individual level. Use these notices for things such
    as rent reminders, overdue payment reminders, service appointment reminders, or any other individual messaging you might wish to send. In theory these
    features could also be automated - for example, a rent reminder could go out on a time-incremental basis if a tenant hasn't yet paid rent within a week
    of the due date, or send notice if the rent is late. Coupled with payment processing, you can use these messaging features to guide tenants to payment
    (i.e. "Your rent payment is now X days past due. Please visit the REMS portal ASAP to make your payment.")
</p>

<h3>Unit Tours</h3>

<p>
    Almost every perspective client will want to see their unit(s) before opting to sign a lease; more times than not this will mean that a staff member
    has to set aside time to leave the office and bring them to the unit, and show them around. While in-person viewings can't be avoided entirely,
    you can save time showing units to only mildly interested or otherwise "just browsing" prospects by providing the ability to virtually tour units in advance.
    This ability also has the side effect of presenting a better image to the general population, as more times than not properties will list little to no imagery
    of their property. Your professional image is significantly improved by offering a "premium" service such as virtual touring.
</p>