@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>REMS</h1>
    <h2>Real Estate Management System</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>
            The Real Estate Management System (REMS) provides a streamlined, comprehensive suite
            of services which provide landlords, property management firms, and other administrative
            organizations and/or individuals the tools they need to minimize time and energy necessary
            to do business. This increase in efficiency results in a decreased workload, increased productivity,
            and an improved quality of service.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            <ul>
                <li>Payment Processing</li>
                <li>Client / Tenant Management</li>
                <li>Maintenance Schedliing</li>
                <li>Mass Messaging (Announcements)</li>
                <li>Reminders (SMS / Email)</li>
                <li>Virtual Unit Tours</li>
            </ul>            
        </p>
    </div>
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>
            <ul>
                <li>ASP.NET MVC</li>
                <li>MSSQL</li>
                <li>HTML / CSS / JavaScript</li>
                <li>Git</li>
            </ul>            
        </p>
    </div>
</div>