
@{
    ViewBag.Title = "Reminders";
}

<h2>@ViewBag.Title</h2>

<p>
    Reminders allow for the automation of important periodic notifications to clients and/or staff members.
    Examples include:

    <ul>
        <li>Rent / Other Payments Due or Overdue</li>
        <li>Maintenance Appointments Upcoming</li>
        <li>Time-Specific, Community-Wide Events</li>
    </ul>
</p>

<p>
    **DEMO IN PROGRESS**
</p>